* {
    box-sizing: border-box; }

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica', 'Verdana', sans-serif;
    font-weight: 400;
    font-display: optional;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow: hidden;
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;

    background: #ececec;
}

.app {
    height: 100%;
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    justify-content: space-between;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    color: white;
    background-color: #128c9f;
    z-index: 1010;
}

.header div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.header div div {

}

.svg {
    display: none;
}

.svg.loaded {
    display: inline-block;
}

.header .svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
    margin: auto;
}

.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    height: 100%;

    margin: auto;
    z-index: 1000;
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    width: 100%;
    max-width: 800px;
    flex: 1 0 1px;

    overflow: auto;

    margin: auto;

    background-color: white;
    z-index: 1000;
}

.flex-spacer {
    flex: 1 0 0;
}

.bubble-holder {
    width: 100%;
    margin: 0px;
    display: inline-block;
}

.bubble-holder .bubble {
    display: inline-block;
    float: left;

    padding: 5px 10px;
    margin: 10px;

    color: white;
    background-color: #17a2b8;
    border-radius: 25px;
}

.bubble-holder.sent .bubble{
    background-color: #b7bcbe;
    text-align: right;
    float: right;
}

.bubble p {
    text-align: left;
    margin: 0;
    padding: 5px;
}

.bubble-holder.options {
    border-top: lightgray 2px solid;
    overflow: hidden;

    width: 100%;
    height: auto;
    max-height: 100%;

    margin-bottom: 0;

    text-align: right;
}

.vert-slide-enter-active, .vert-slide-leave-active {
    -webkit-transition: all 0.5s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 0.5s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 0.5s cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 0.5s cubic-bezier(.25,.46,.45,.94);
    transition: all 0.5s cubic-bezier(.25,.46,.45,.94);
}

.vert-slide-enter, .vert-slide-leave-to {
    transform: translateY(50px);
    opacity: 0;
}

.pop-enter-active, .pop-leave-active {
    -webkit-transition: all 0.1s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 0.1s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 0.1s cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 0.1s cubic-bezier(.25,.46,.45,.94);
    transition: all 0.1s cubic-bezier(.25,.46,.45,.94);
}

.pop-enter, .pop-leave-to {
    opacity: 0;
}

.bubble-holder.options .bubble {
    float: none;

    cursor: pointer;

    border: lightgray 2px solid;
    border-radius: 25px;
    color: black;
    background-color: white;
}

.option {
    display: inline-block;
    padding: 5px 10px;
}

.option p {
    text-align: left;
    margin: 0;
}

.add-contact-icon {
    display: table;
    margin: auto;

    height: 10mm;
    width: 10mm;
    border-radius: 50%;

    color: white;
    background-color: #007bff;

    cursor: pointer;
}

.add-contact-icon span {
    display: table-cell;

    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 768px) {

}