<template id="chat-options">
    <transition name="vert-slide">
        <div class="bubble-holder options" v-if="notHidden">
            <div v-for="(option, key) in options" class="bubble" @click="$emit('choose-option', key)">
                <p v-html="option.prompt"></p>
            </div>
        </div>
    </transition>
</template>

<script>
    Vue.component('ChatOptions', {
        props: ['options'],
        template: '#chat-options',
        computed: {
            notHidden: function () {
                return this.options.length != 0;
            }
        }
    });
</script>