<template id="conversation">
    <div class="conversation">
        <message v-for="(message, key) in script" v-show="showMessage(key)" :message="message" :option="getChoice(key)"></message>
    </div>
</template>

<script>
    Vue.component('Conversation', {
        props: {
            script: Array,
            status: Object,
            id: Number
        },
        template: '#conversation',
        computed: {

        },
        methods: {
            showMessage: function (key) {
                return key < this.status.progress;
            },
            getChoice: function(id) {
                if (this.status.decisions.hasOwnProperty(id))
                {
                    return this.status.decisions[id];
                }
                return null;
            }
        }
    });
</script>