<template id="message">
    <transition name="pop">
        <div :class="classes">
            <div class="bubble">
                <p v-html="text"></p>
            </div>
        </div>
    </transition>
</template>

<script>
    Vue.component('Message', {
        props: ['message', 'option'],
        template: '#message',
        computed: {
            classes: function() {
                let classes = ["bubble-holder"];
                if (this.message.sender == "self")
                {
                    classes.push("sent");
                }
                return classes;
            },
            text: function () {
                var text = '';

                if (this.option != null && this.message.hasOwnProperty('options'))
                {
                    text = text + this.message.options[this.option].text;
                }

                if (this.message.hasOwnProperty('text'))
                {
                    text = text + this.message.text;
                }

                return text;
            }
        }
    });
</script>